[submodule "vendors/pybind11"]
	path = vendors/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "vendors/TempoApp"]
	path = vendors/TempoApp
	url = git@github.com:jokteur/TempoApp.git
[submodule "vendors/json"]
	path = vendors/json
	url = https://github.com/nlohmann/json.git
